@{
    ViewData["Title"] = "BuyZubehör";

    // ZubehörListe aus der Viewbag zu einem konkreten Typ casten
    var zubehörListe = (IEnumerable<Zubehör>)ViewBag.ZubehörListe;
}

<h1>Zubehör</h1>

<form asp-action="BuyZubehör" asp-controller="Home" method="post">
    <div class="row">
        <ul>
            @foreach (var zubehör in zubehörListe)
            {
                <li>
                    <div class="card" id="cards" style="width: 12rem;">
                        <input type="checkbox"
                               id="cb_@zubehör.ZubehörId"
                               name="zubehörIds"
                               class="form-check-input"
                               value="@zubehör.ZubehörId" />
                        <label for="cb_@zubehör.ZubehörId">
                            <img src="~/img/@zubehör.ZubehörName@Html.Raw(".jpg")" />
                            <div class="card-body">
                                <div class="d-flex">
                                    <strong class="text-danger">@zubehör.ZubehörKosten CHF</strong>
                                </div>
                                <div class="d-flex">
                                    <strong class="">@zubehör.ZubehörName</strong>
                                </div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </label>
                    </div>
                </li>
            }
        </ul>
    </div>

    <div class="d-flex justify-content-end">
        <input value="Weiter" type="submit" class="btn btn-primary" />
    </div>
</form>