@{
    ViewData["Title"] = "Checkout";
}

<h3>Payment</h3>

<p>Payment Stuff Here...</p>

<form asp-action="Checkout" asp-controller="Home" method="post">
    <button type="submit" class="btn btn-primary">Bestellung abschliessen</button>
</form>

