@{
    ViewData["Title"] = "Checkout";
}

<h3>Payment</h3>

<p>Payment Stuff Here...</p>

<div class="d-flex">
    <form asp-action="CancelOrder" asp-controller="home" method="post" class="mr-1">
        <button type="submit" class="btn badge-danger">Bestellung löschen</button>
    </form>

    <form asp-action="Checkout" asp-controller="home" method="post">
        <button type="submit" class="btn badge-primary">Bestellung abschliessen</button>
    </form>
</div>

