@model HappyWriter.Models.ViewModels.ZubehöreViewModel

@{
    ViewData["Title"] = "Produkt";
}

<div class="row">
    <div class="mb-3">
        <div class="row">
            <div class="col-md-5">
                <img src="~/img/@Html.DisplayFor(m => m.Name)@Html.Raw(".jpg")" class="card-img" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <strong class="text-danger">@Html.DisplayFor(m => m.Kosten) CHF</strong>
                    <h5 class="card-title">@Html.DisplayFor(m => m.Name)</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a asp-action="Buy" asp-controller="Home" asp-route-id="@Model.ProduktId" class="btn btn-primary w-100">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

