@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>


@if (!Html.ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<div class="auth-wrapper">
    <div class="card auth-content mb-0">
        <div class="card-body py-5">
            <div class="text-center mb-5">
                <h3 class="mb-3 text-primary">HappyWriter Shop</h3>
                <div class="font-18 text-center">Login to Your Account</div>
            </div>
            <form id="account" method="post" autocomplete="off">
                <div class="mb-4">
                    <div class="md-form mb-0">
                        <input asp-for="Input.Email" id="email" class="md-form-control">
                        <label asp-for="Input.Email" id="label-email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="md-form mb-0">
                        <input asp-for="Input.Password" id="password" class="md-form-control">
                        <label asp-for="Input.Password" id="label-password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="flexbox mb-5">
                    <label asp-for="Input.RememberMe" class="ui-switch switch-solid">
                        <input asp-for="Input.RememberMe">
                        <span class="ml-0"></span> @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <button class="btn btn-primary btn-rounded btn-block" type="submit">Login</button>
                <p class="text-center mt-3 mb-3 p-0">Dont Have an Account?</p>
                <a  class="btn btn-dark btn-rounded btn-block" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </form>
            <div class="text-center mt-5 font-13">
                <div class="mb-2 text-muted">2019 © All rights reserved</div>
                <div>See<a class="hover-link ml-2" href="#" style="border-bottom: 1px solid">Privacy Policy</a></div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var password = document.getElementById("password");
        var labelPassword = document.getElementById("label-password");

        var email = document.getElementById("email");
        var labelEmail = document.getElementById("label-email");

        if (email.value.length != 0) {
            labelEmail.classList.add("active");
        }

        if ($("#email").is(":-webkit-autofill")) {
            labelEmail.classList.add("active");
        }

        if ($("#password").is(":-webkit-autofill")) {
            labelPassword.classList.add("active");
        }

        password.addEventListener("focusin", function () {
            labelPassword.classList.add("active");
        })

        password.addEventListener("focusout", function () {
            if (password.value.length == 0)
                labelPassword.classList.remove("active");
        })

        email.addEventListener("focusin", function () {
            labelEmail.classList.add("active");
        })

        email.addEventListener("focusout", function () {
            if (email.value.length == 0)
                labelEmail.classList.remove("active");
        })
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
